.row #div1, #div2, #div3, #div4{
    width: 181px;
    height: 37px;
    border: 1px dashed black;
    margin: 5px;
    background-color: skyblue;
    position: absolute;
  }

  #div1 {
    top: 35px;
    left: 270px;;
  }

  #div2 {
    top: 35px;
    left: 270px;;
  }

  #div3 {
    top: 35px;
    left: 270px;;
  }

  #div4 {
    top: 238px;
    left: 270px;;
  }

span {
    width: 100px;
    text-align: center;
    font-size: 17px;
    background-color: skyblue;
    cursor: pointer;
    padding: 5px;
    float: left;
    font-weight: bold;
  }

  #drag2 {
    width: 179px;
    text-align: center;
    font-size: 17px;
    background-color: skyblue;
    cursor: pointer;
    padding: 5px;
    float: left;
    font-weight: bold;
  }

